.app{
  height: 100vh;
}

.app__header{
  height: 15%;
  background-color: darkslategray;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}